<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Users</title>
</head>
<body>

<h2>Users</h2>
<table>
  <thead>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Surname</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="user : ${users}">
    <td th:text="${user.id}"></td>
    <td th:text="${user.name}"></td>
    <td th:text="${user.surname}"></td>
    <td><a th:href="@{update(id=${user.id})}">Edit</a></td>
    <td><a th:href="@{delete(id=${user.id})}">Delete</a></td>
  </tr>
  </tbody>
</table>
</div>
<p><a href="create">Create user</a></p>
</div>
</body>
</html>